@import "tailwindcss";
@import "@heroui/styles";

:root,
[data-theme="light"] {
  --main-background: #faf9f5;
  --background: #d8dbd8;
  --foreground: #181c1b;
  --primary: #028889;
  --secondary: #da6d4e;
}

@theme inline {
  --color-main-background: var(--main-background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root,
  [data-theme="dark"] {
    --main-background: #0c1321;
    --background: #19202e;
    --foreground: #dce2f6;
    --primary: #2fae9e;
    --secondary: #da6d4e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}
